.card {
  border: 1px solid black;
  border-radius: 5px;
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: transparent;
}

.imageContainer {
  width: 100%;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}

.image {
  object-fit: contain;
}

.content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.title {
  margin-top: 0;
  font-size: 1.2rem;
  color: var(--primary-color);
}

.description {
  flex-grow: 1;
  overflow: hidden;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.button {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
