.card {
  border: 1px solid black;
  border-radius: 5px;
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: transparent;
}

.imageContainer {
  width: 100%;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.noImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
}

.content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.5rem; /* Add gap between child elements */
}

.title {
  margin: 0; /* Remove default margins */
  font-size: 1.2rem;
  color: var(--primary-color);
}

.subtitle {
  margin: 0; /* Remove default margins */
  font-size: 1rem;
  color: var(--secondary-color, #666);
}

.description {
  flex-grow: 1;
  overflow: hidden;
  font-size: 0.9rem;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.button {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
